set completion-ignore-case On
"\er": redraw-current-line
# off for now, there's a bug when using numbered-completion-display
set print-completions-horizontally On
$if Bash
set numbered-completion-display On
$endif
